wifi_ssid: "WIFI_SSID"
wifi_password: "NOBODY expects the Spanish Inquisition! "

web_server_username: "WEB_SERVER_USERNAME"
web_server_password: "WEB_SERVER_PASSWORD"

ota_password: "OTA_PASSWORD"

# Randomly generated via https://esphome.io/components/api.html
api_encryption_key: "9sgytf2MEKb1y1jegg4kXBJWzgmzISi1Q9ptS/1oPy4="
